<app-header></app-header>

<div class="container">

  <div *ngIf="game">

    <h3 class="center">{{ game.title }}</h3>
    <h4 class="center light black-text text-lighten-2">{{ game.platform }}</h4>

    <div class="row">

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" src="{{game.img_url}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">

              <!-- Two Splits; one meta, the other, descrption -->
              <div class="col s6">
                <!-- Game MetaData -->
                <div class="row">
                  <p>Developer: {{ game.developer }}</p>
                </div>
                <div class="row">
                  <p>Genre: {{ game.genre }}</p>
                </div>
                <div class="row">
                  <p>Rating: {{ game.rating }}</p>
                </div>
                <div class="row">
                  <p>Critic Score: {{ game.critic_score }}/100</p>
                </div>
                <div class="row">
                  <p>User Score: {{ game.user_score }}</p>
                </div>
                <div *ngIf="sentiment">
                  <div class="row">
                    <p>Overall Sentiment:

                      <!-- -1.0 (negative) and 1.0 (positive) -->
                      <ng-template [ngIf]="sentiment.sentiment >= 0.5">
                        <span class="badge green">{{ sentiment.sentiment | number: '1.2-2'}}</span>
                      </ng-template>
                      <ng-template [ngIf]="sentiment.sentiment <= 0">
                        <span class="badge red">{{ sentiment.sentiment | number: '1.2-2'}}</span>
                      </ng-template>
                      <ng-template [ngIf]="sentiment.sentiment > 0 && sentiment.sentiment < 0.5">
                        <span class="badge yellow">{{ sentiment.sentiment | number: '1.2-2'}}</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="row">
                    <p>Sentiment Magnitude: {{ sentiment.magnitude | number: '1.2-2'}} </p>
                  </div>
                </div>
              </div>
              <div class="col s6">
                <p>{{game.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="divider"></div>

<app-game-reviews></app-game-reviews>

<app-footer></app-footer>
