<header>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Google</a></li>
    <li><a href="#!">Facebook</a></li>
    <li><a href="#!">Twitter</a></li>
    <li class="divider"></li>
    <li><a href="#!">Playstation Network</a></li>
    <li><a href="#!">Nintendo Network ID</a></li>
    <li><a href="#!">Xbox Live</a></li>
  </ul>

  <nav class="blue lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{ title }}</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

    </div>
  </nav>

</header>
