<app-header></app-header>

  <div class="card">
    <div class="card-header">
      <img src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png"/>
    </div>
    <div class="card-content">
      <h3>Michelle Beard</h3>
      <h4>Full Stack Web Developer</h4>
      <p></p>
    </div>
    <div class="card-footer">
      <ul>
        <li>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-globe"></i></a>
        </li>
      </ul>
    </div>
  </div>

<app-footer></app-footer>
