<app-header></app-header>

<div class="container">
  <div class="section">

    <div class="row">

      <div class="col s12">
        <div class="card">
          <div class="card-header">
            <!--<img src="http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png"/>-->
            <img src="{{user.img}}"/>
          </div>
          <div class="card-content">
            <h3>{{user.name}}</h3>
            <p></p>
          </div>
        </div>
      </div>

      <!--<div class="col s6">-->
        <!--<ul class="collection">-->
          <!--<li class="collection-item avatar">-->
            <!--<img src="images/yuna.jpg" alt="" class="circle">-->
            <!--<span class="title">Title</span>-->
            <!--<p>First Line <br>-->
              <!--Second Line-->
            <!--</p>-->
            <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
          <!--</li>-->
          <!--<li class="collection-item avatar">-->
            <!--<i class="material-icons circle">folder</i>-->
            <!--<span class="title">Title</span>-->
            <!--<p>First Line <br>-->
              <!--Second Line-->
            <!--</p>-->
            <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
          <!--</li>-->
          <!--<li class="collection-item avatar">-->
            <!--<i class="material-icons circle green">insert_chart</i>-->
            <!--<span class="title">Title</span>-->
            <!--<p>First Line <br>-->
              <!--Second Line-->
            <!--</p>-->
            <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
          <!--</li>-->
          <!--<li class="collection-item avatar">-->
            <!--<i class="material-icons circle red">play_arrow</i>-->
            <!--<span class="title">Title</span>-->
            <!--<p>First Line <br>-->
              <!--Second Line-->
            <!--</p>-->
            <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

    </div>
  </div>
</div>

<app-footer></app-footer>
