<footer class="page-footer blue lighten-2">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">{{ title }}</h5>
      <p class="grey-text text-lighten-4">Social gaming for winners.</p>

    </div>

    <div class="col l3 s12">
      <h5 class="white-text">Connect</h5>
      <ul>
        <li><a class="white-text" href="#!">About Us</a></li>
        <li><a class="white-text" href="#!">Contact Us</a></li>
        <li><a class="white-text" href="#!">Our Team</a></li>
        <li><a class="white-text" href="https://github.com/mooshu1x2/goodgames">Get Involved</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    <br>
    Based off of <a class="orange-text text-lighten-3" href="https://github.com/Ismaestro/angular5-example-app">Angular5 Example App</a>
  </div>
</div>
</footer>
