<app-header></app-header>

<div class="container">
  <div class="section">
    <h5 class="center">Search and browse games</h5>
    <div class="col s12">
      <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="input-field">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <input id="search" type="search" [(ngModel)]="searchTerm" #name="ngModel" name="search">
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</div>

<app-game-results></app-game-results>

<app-footer></app-footer>
