<div class="container">
  <section>
    <h4 class="center light black-text text-lighten-2">Comments and Reviews</h4>

    <div *ngIf="comments?.length > 0; else nothing" class="row">

      <div *ngFor="let comment of comments" class="card-panel">
        <div class="col m1">
          <!-- -1.0 (negative) and 1.0 (positive) -->
          <ng-template [ngIf]="comment.sentiment_score >= 0.5">
            <span class="badge green">{{comment.sentiment_score}}</span>
          </ng-template>
          <ng-template [ngIf]="comment.sentiment_score <= 0">
            <span class="badge red">{{comment.sentiment_score}}</span>
          </ng-template>
          <ng-template [ngIf]="comment.sentiment_score > 0 && comment.sentiment_score < 0.5">
            <span class="badge yellow">{{comment.sentiment_score}}</span>
          </ng-template>

        </div>
        <span class="black-text">{{comment.description}}</span>
      </div>
    </div>

    <ng-template #nothing>
      <h5 class="light black-text text-lighten-2">No Comments/Reviews</h5>
    </ng-template>

  </section>
</div>
